body{
    color:white;
    background-color: black;
    font-style: italic;
    background-image: url(https://images.unsplash.com/photo-1567360425618-1594206637d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjByb2pvJTIweSUyMG5lZ3JvfGVufDB8fDB8fHww);
}

h1{
    background-color:rgb(44, 0, 0);
    color:white;
}

.wrapper{
    text-decoration: none;
    background-color: rgb(44, 0, 0);
    color:white;
font-size:25px;
margin:15px;
padding: 15px;
 

}

:hover{
    border: 2px solid;
    color:red!important;
  
}

button{
    border:1px solid transparent; 
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);

}

label{
    color: white;

}

a{
    color:white;
border: 20px;
    text-decoration: none;
    
    transition: background 0.5s ease;
    background: linear-gradient; 
  
}



 
  