div{
    font-size: 15px;
    color: white;
    font-style: italic;

}

body{
     color: white;
     background-image: url(https://marketplace.canva.com/EAE9oAp-Byc/1/0/1600w/canva-fondo-de-pantalla-escritorio-pc-abstracto-moderno-degradado-negro-PriNvkfDEzU.jpg);    
}

h2{
    color: red;
}