body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    gap: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmrnySn9sfL3Bf-_c34xcfN40gcToJ-c4TsA&s);
}

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 119%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-front{
    background-image: linear-gradient(45deg, #292929, #ffffff);
    display: grid;
    align-items: center;
    justify-content: center;
}

.flip-card-front img{
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back{
    background-image: linear-gradient(315deg,#292929, #ffffff);
    color: #ffffff;
    transform: rotateY(180deg);
}

.flip-card-back img{
    width: 220px;
    margin-top: 1rem;
}

.flip-card-back h3{
    margin-bottom: 0.3rem;
}

.flip-card-back h1{
margin:0;
}

h3{
    color: black;
    font-style: italic;
}

h1{
    color:black;
    font-style: italic;
}

.card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 119%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front{
    background-image: linear-gradient(45deg, #0404d9, #ffffff);
    display: grid;
    align-items: center;
    justify-content: center;
}
.front img{
    width: 220px;
    margin-top: 1rem;
}


.card .back{
    background-image: linear-gradient(315deg,#0404d9, #ffffff);
    color: #ffffff;
    transform: rotateY(180deg);
}
.back img{
    width: 220px;
    margin-top: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;

}

.back h3{
    margin-bottom: 0.3rem;
}

.back h1{
    margin:0;
}
.card1{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.inner1{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.card1:hover .inner1 {
    transform: rotateY(180deg);
}
.front1, .back1 {
    position: absolute;
    width: 100%;
    height: 119%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}
.front1{
    background-image: linear-gradient(45deg, #530202, #ffffff);
    display: grid;
    align-items: center;
    justify-content: center;
}
.front1 img{
    width: 220px;
    margin-top: 1rem;
}
.card1 .back1{
    background-image: linear-gradient(315deg,#530202, #ffffff);
    color: #ffffff;
    transform: rotateY(180deg);
}
.back1 img{
    width: 220px;
    margin-top: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;

}
.back1 h3{
    margin-bottom: 0.3rem;
}
.back1 h1{
    margin:0;
}



